[Unit]
Description=Minecraft Server

Wants=network.target
After=network.target

[Service]
User=minecraft
Group=minecraft
WorkingDirectory=/opt/minecraft

ExecStartPre=/usr/bin/mkfifo ./service.in
ExecStart=/bin/sh -c "exec /usr/bin/java -server -Xmx320M -Xms320M -jar ./spigot.jar 3<>./service.in -<&3"
ExecStop=/bin/sh -c "echo stop$(printf \\\\r) > ./service.in"
ExecStopPost=/bin/rm ./service.in

KillMode=none
Restart=on-failure

[Install]
WantedBy=multi-user.target