[Unit]
Description=Minecraft Server

Wants=network.target
After=network.target

[Service]
User=minecraft
Group=minecraft
WorkingDirectory=/opt/minecraft
ExecStart=/usr/bin/java -Xmx512M -Xms512M -jar spigot.jar --noconsole

[Install]
WantedBy=multi-user.target